<h1>Users</h1>

<div class="row" style="margin-bottom: 10px;">
    <button ng-show="!$ctrl.isShowUserForm" class="btn btn-success btn-xs" ng-click="$ctrl.onUserAddClicked()">
        <span class="glyphicon glyphicon-plus-sign"></span>
    </button>

    <button ng-show="$ctrl.isShowUserForm" class="btn btn-info btn-xs" ng-click="$ctrl.onUserHideClicked()">
        <span class="glyphicon glyphicon-zoom-out"></span>
    </button>
    <div style="margin-top: 10px;">
        <ifs-user ng-if="$ctrl.isShowUserForm"></ifs-user>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <table class="table table-hover table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="item in $ctrl.users">
                <td>
                    <span ng-bind="item.name"></span>
                </td>
                <td>
                    <span ng-bind="item.email | limitTo: 100"></span>
                </td>
                <td>

                    <button type="button" class="btn btn-success btn-xs" ng-click="$ctrl.onUserInfoClicked(item)">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="$ctrl.onUserDetailClicked(item.id)">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>

                    <button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.onUserDeleteClicked(item.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </table>

    </div>
</div>

<div class="panel panel-default" ng-if="$ctrl.user">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" ng-src="public/uploads/{{$ctrl.user.img}}" alt="..." style="max-width: 200px">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading" ng-bind="$ctrl.user.name"></h4>
                <p ng-bind="$ctrl.user.email | limitTo: 100"></p>
                <span><button class="btn btn-link" ng-click="$ctrl.onUserDetailClicked($ctrl.user.id)">Details</button></span>
            </div>
        </div>
    </div>
</div>
